:root {
  --primary-text-color: #413e3e;
  --primary-color: #f85e33;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin-top: 20px;
  text-align: center;
  color: var(--primary-text-color);
}
h1 {
  font-size: 96px;
  color: var(--primary-color);
  margin: 0;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
}
button {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border-color: var(--primary-color);
}

#contact-button {
  background-color: #f85e33;
  box-shadow: var(--box-shadow);
}
#about-button {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
}
#contact-button:hover,
#about-button:hover {
  background-color: #f1b9a9;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: purple;
}
.bodytext {
  display: flex;
  justify-content: space-evenly;
}
p {
  padding: 10px;
  margin: 20px;
  background-color: var(--primary-color);
  border-radius: 20px;
}
